<div align="center">

<%= link_to 'Browse Comics', mcomics_path %><%= link_to ', Characters', mchars_path %><%= link_to ', Users', users_path %><br>


<% i = -1 %><span style="font-size:small;">
<table>
<tr>
<% @serieses.each do |series| %>
    <% i += 1 %>
    <td>
    <%= series.title %><br>
    <a href="/mserieses/<%= series.id %>">
      <img src="<%= series.image_path %>/portrait_incredible.<%= series.image_ext %>">
    </a>
    </td>
    <% if i.modulo(5)==4 %></tr><tr><% end %>
<% end %>
</table></span>

</div>

<div align="right">
<%= form_tag mseries_search_path, method: "get" do %>
  <%= text_field_tag 'q', nil, placeholder: 'Enter Series Title' %>
  <%= submit_tag("Search") %>
<% end %>

</div>