<%= @series.title %><br>
<a href="<%= @series.url %>"><img src="<%= @series.image_path %>/portrait_uncanny.<%= @series.image_ext %>"></a><br><br>

<a href="<%= @series.url %>">Link to Series on Marvel.com</a><br><br>

<%= form_tag mseries_retrieve_path, method: "get" do %>
  <%= hidden_field_tag :id, @series.id %>
  <%= submit_tag("find comics") %>
<% end %>

<% @series.mcomics.sort_by { |c| c.issueNumber}.each do |comic| %>
  <a href="/mcomics/<%= comic.id %>">
    <img src="<%= comic.image_path %>/portrait_incredible.<%= comic.image_ext %>" alt="<%= comic.title %>">
  </a>
<% end %>