<div align="center"><h1><%= @user.nick %></h1><%= image_tag @user.profile.url(:medium) %>
<h2><%= @user.cc %> cc</h2></div><br><br>
<% if logged_in? && @user.id != current_user.id %>
  <h2>Mutual Read Comics:</h2>
  <% @user.mcomics.each do |comic| %>
      <% if current_user.mreads.find_by(mcomic_id: comic.id) %>
        <a href="<%= mcomic_path(comic) %>">
          <img src="<%= comic.image_path %>/portrait_small.<%= comic.image_ext %>">
        </a>
    <% end %>
  <% end %>
  <br><br>
<% end %>
<h2>Read Comics:</h2>
<%= render partial: "comic", collection: @user.mcomics %>
<br><br>
<h2>Favorite Characters:</h2>
<%= render partial: "/mchars/char", collection: @user.mchars %>
<br><br>
<h2><% if logged_in? && @user.id == current_user.id %>Your <% end %>Comments</h2>
<%= render partial: "comment", collection: @user.comments %>