<div align="center">

<%= link_to 'Browse Series', mserieses_path %><%= link_to ', Characters', mchars_path %><%= link_to ', Users', users_path %><br>

<%= will_paginate @comics %>

<%= render partial: "comic", collection: @comics %>

<%= will_paginate @comics %>

</div>

<div align="right">
<% if logged_in? && current_user.admin %>
  <%= form_tag mcomic_search_path, method: "get" do %>
    <%= text_field_tag 'q', nil, placeholder: 'Enter Comic Offset' %>
    <%= submit_tag("Search") %>
  <% end %>
<% end %>
</div>