<div align="right">
<%= form_tag mcomic_search_path, method: "get" do %>
  <%= text_field_tag 'q', nil, placeholder: 'Enter Comic Offset' %>
  <%= submit_tag("Search") %>
<% end %>
</div>

<div align="center">

<%= link_to 'Browse Series', mserieses_path %>

<%= will_paginate @comics %>
<% i = -1 %><span style="font-size:small;">
<table>
<tr>
<% @comics.each do |comic| %>
    <% i += 1 %>
    <td>
    <%= comic.title %><br>
    <a href="/mcomics/<%= comic.id %>"><img src="<%= comic.image_path %>/portrait_incredible.<%= comic.image_ext %>"></a><br><%= comic.mreads.count %> reads - <%= comic.comments.count %> comments
<% if logged_in? %>
  <% if current_user.mreads.find_by(mcomic_id: comic.id) %>
    <%= button_to "Unmark as Read", mread_path(current_user.mreads.find_by(mcomic_id: comic.id)), :method => 'delete' %>
  <% else %>
    <%= form_for Mread.new, as: :mread do |f| %>
      <%= f.hidden_field :mcomic_id, :value => comic.id %>
      <%= f.submit 'Mark as Read' %>
    <% end %>
  <% end %>
<% end %>
    </td>
    <% if i.modulo(5)==4 %></tr><tr><% end %>
  <% end %>
</table></span>
<%= will_paginate @comics %>

</div>