<%= @comic.title %><br>
<img src="<%= @comic.image_path %>/portrait_uncanny.<%= @comic.image_ext %>"><br><br>

<a href="<%= @comic.url %>">Link to Comic on Marvel.com</a><br><br>

belongs to series_id # <%= @comic.mseries_id %>