<%= @comic.title %><br>
<a href="<%= @comic.url %>"><img src="<%= @comic.image_path %>/portrait_uncanny.<%= @comic.image_ext %>"></a><br><br>

<a href="<%= @comic.url %>">Link to Comic on Marvel.com</a><br><br>

<% if Mseries.find_by(id: @comic.mseries_id) %>
Series: <a href="/mserieses/<%= @comic.mseries_id %>"><%= @comic.mseries.title %></a><br><br>
<% else %>
Series: <a href="/mserieses/<%= @comic.mseries_id %>">series_id #<%= @comic.mseries_id %></a><br><br>
<% end %>


<%= @comic.mreads.count %> reads<br>

<% if logged_in? %>
  <% if current_user.mreads.find_by(mcomic_id: @comic.id) %>
    <%= button_to "Unmark as Read", mread_path(current_user.mreads.find_by(mcomic_id: @comic.id)), :method => 'delete' %>
  <% else %>
    <%= form_for Mread.new, as: :mread do |f| %>
      <%= f.hidden_field :mcomic_id, :value => @comic.id %>
      <%= f.submit 'Mark as Read' %>
    <% end %>
  <% end %>
<% end %>

<%= form_tag mcomic_retrieve_path, method: "get" do %>
  <%= hidden_field_tag :id, @comic.id %>
  <%= submit_tag("find chars") %>
<% end %>

<% @comic.mchars.each do |char| %>
  <a href="/mchars/<%= char.id %>">
    <img src="<%= char.image_path %>/portrait_small.<%= char.image_ext %>" alt="<%= char.name %>">
  </a>
<% end %>

<% if logged_in? %>
  <%= form_for [@comic, Comment.new] do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.text_field :content %>
    <%= f.hidden_field :commentable_id, :value => @comic.id %>
    <%= f.hidden_field :commentable_type, :value => @comic.class.to_s %>
    <%= f.submit 'Add Comment' %>
  <% end %>
<% end %>

<br>Comments<br><br>
<% @comic.comments.each do |comment| %>
<a href="<%= user_path(comment.user) %>"><span style="font-size:small;"><%= comment.user.nick %></span></a><br>
<%= comment.content %><br>
<span style="font-size:x-small;"><%= time_ago_in_words(comment.created_at).gsub('about','') + ' ago' %></span>
<% if logged_in? %>
  <% if comment.user_id == current_user.id || current_user.admin %>
    <%= link_to "delete", [@comic, comment], :method => :delete, :confirm => "Are you sure?" %>
  <% end %>
<% end %>
<br><br>
<% end %>