<!DOCTYPE html>
<html>
<head>
  <title>Comic Authority beta1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<header>
<div class="container"><table width="960"><td>
<div align="left"><a href="../"><img src="../images/calogo2.png" width="340" height="100" /></a></div></td><td><div align="right">

</div></td></table>
</div>
</header>
<body>
<div class="container">
<% flash.each do |key, value| %>
<p><%= value %></p>
<% end %>
<%= yield %>
<footer>
<p>Comic Authority © <%= Time.now.year %></p>
</footer>
</div>
</body>
</html>