<!DOCTYPE html>
<html>
<head>
  <title>Comic Authority beta2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<header>
<div class="container">
  <table width="1080">
    <td>
      <a href="../">
      <img src="../images/calogo2.png" width="340" height="100" />
      </a>
    </td>
    <td align="right">

      <% if logged_in? %>
        <a href="/users/<%= current_user.id %>"><%= current_user.nick %></a><br>
        <%= current_user.cc %> cc<br>
        <a href="/logout"> Logout</a>
      <% else %>
        <%= form_tag("/session", method: "post") do %>
          <%= text_field_tag(:email, nil, placeholder: 'Email') %> <%= password_field_tag(:password, nil, placeholder: 'Password') %> <%= submit_tag("Login") %>
        <% end %>
        <br><a href="/users/new">Sign Up</a>
      <% end %>

    </td>
    </div>
  </table>
</div>
</header>
<body>
<div class="container">
<% flash.each do |key, value| %>
  <p><%= value %></p>
<% end %>

<%= yield %>
<footer>
<p>&copy; Comic Authority <%= Time.now.year %></p>
</footer>
</div>
</body>
</html>